body {
  margin:0;
  font-family: 'Alegreya';
  width: 100%;
  color: #C5C6C7;
  background-color: #1F2833;
  font-size: 13pt;
}
li a {
  font-size: 15pt;
}
b {
  color: #66FCF1;
}
#name {
  float: left;
}
#about {
  height: 350px;
}
#aboutLeft {
  float: left;
  padding-top: 50px;
  width: 50%;
}
#aboutLeft h1 {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}
#aboutLeft img {
  float: right;
}
#aboutRight {
  float: right;
  padding-top: 50px;
  width: 50%;
}
#aboutRight p {
  margin-left: 50px;
  margin-top: 50px;
}
#personal {
  height: 550px;
}
#education {
  height: 200px;
}
#experience {
  height: 200px;
}
#eduLeft {
  float: left;
  padding-top: 50px;
  width: 50%
}
div section {
  padding-left: 20px;
}
section img {
  padding-right: 75px;
}
.pers {
  padding-top: 50px;
}
#pers1, #pers3 {
  float: left;
  width: 50%;
}
#pers2, #pers4 {
  float: right;
  width: 50%;
}
#pers3, #pers4 {
  padding-top: 125px;
}
section p a {
  text-decoration: none;
}
#pers1, #pers2 {
  height: 200px;
}
.persLeft {
  float: left;
  width: 50%;
}
.persRight {
  float: right;
}
.persLeft img {
  padding-left: 75px;
}
.persRight p {
  padding-right: 75px;
}
#eduRight {
  float: right;
  padding-top: 50px;
  width: 50%
}
#contact {
  padding-top: 25px;
}
.button {
  background-color: #0B0C10;
  color: #C5C6C7;
  border: 2px solid #66FCF1;
  width: 350px;
  height: 50px;
  font-size: 15pt;
  text-align: center;
}
.button:hover {
  cursor: pointer;
  background-color: #45A29E;
}
.resume {
  float: left;
  text-align: center;
  width: 50%;
  padding-bottom: 25px;
}
.email {
  float: right;
  width: 50%;
  text-align: center;
  padding-bottom: 25px;
}
#expWrap {
  padding-top: 50px;
  padding-left: 20px;
}
p b {
  font-size: 15pt;
}
#skills {
  height: 250px;
  padding-top: 50px;
}
.sk {
  margin-left: 20px;
}
#skillsL {
  float: left;
  width: 30%
}
#skillsM {
  float: left;
  width: 30%
}
#skillsR {
  float: left;
  width: 30%
}
.navbar-brand {
  font-size: 15pt;
}
.persImg {
  height: 250px;
  width: auto;
}
