body {
  margin:0;
  font-family: 'Alegreya';
  width: 100%;
}

#topNavBar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
#topNavBar h1 a{
  float: left;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
#name {
  float: left;
}
#topNavBar p a{
  float: right;
  display: block;
  text-align: center;
  margin-left: 14px;
  margin-right: 14px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#about {
  height: 350px;
}
#aboutLeft {
  float: left;
  padding-top: 50px;
  width: 50%;
}
#aboutLeft h1 {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}
#aboutLeft img {
  float: right;
}
#aboutRight {
  float: right;
  padding-top: 50px;
  width: 50%;
}
#aboutRight p {
  margin-left: 50px;
  margin-top: 50px;
}
#personal {
  height: 500px;
}
#education {
  height: 200px;
}
#skills {
  height: 50em;
  background-color: lightpink;
}
#experience {
  height: 50em;
  background-color: lightgreen;
}
#eduLeft {
  float: left;
  padding-top: 50px;
  width: 50%
}
div section {
  padding-left: 20px;
}
section img {
  padding-right: 75px;
}
.pers {
  padding-top: 50px;
}
#pers1, #pers3 {
  float: left;
  width: 50%;
  height: 215px;
}
#pers2, #pers4 {
  float: right;
  width: 50%;
}
#pers3, #pers4 {
  padding-top: 20px;
}
section p a {
  text-decoration: none;
}
.persLeft {
  float: left;
  width: 50%;
}
.persRight {
  float: right;
}
.persLeft img {
  padding-left: 75px;
}
.persRight p {
  padding-right: 75px;
}
#eduRight {
  float: right;
  padding-top: 50px;
  width: 50%
}
